@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9d84b;
  --foreground: #434343;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9d84b;
    --foreground: #434343;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-stroke {
  -webkit-text-stroke: 1px white;
}